{
  "DJANGO_SECRET_KEY": "your-secret-key",

  "WECHAT_APP_ID": "your-app-id",
  "WECHAT_APP_SECRET": "your-app-secret",

  "WECHAT_MCHID": "your-mch-id",
  "WECHAT_CERT_SERIAL_NO": "your-cert-serial-no",
  "WECHAT_APIV3_KEY": "your-api-v3-key",

  "UNI_APPID": "uni_app_id",
  "UNI_APPKEY": "uni_app_key"
}
